/* LET THE STYLING BEGIN */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subcontainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin-bottom: 20px;
}
